.checkbox-inline, .radio-inline {
	margin-bottom: 10px;
}
.form-control {
	width: auto;
}

@media (min-width: 768px) {
	.form-group > label {
		min-width: 80px;
	}
	.form-control {
		display: inline-block;
	}
}